/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;    
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
header {
    background-color: #1b1b1b;
    padding: 35px 0;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: center; /* Alineación al centro por defecto */
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
}

.logo {
    margin-right: auto; /* Margen derecho automático para centrar el logo */
}

.logo i {
    color: white; /* Aplica color blanco al icono */
    font-size: 30px; /* Tamaño de la fuente aumentado */
}

.nav-menu {
    text-align: right; /* Alineación a la derecha */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0; /* Eliminar el margen para evitar espacios adicionales */
}

.menu li {
    display: inline-block;
    margin-left: 40px; /* Espacio entre elementos del menú */
}

.menu li:first-child {
    margin-left: 0; /* No hay margen a la izquierda para el primer elemento */
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Transición suave para el cambio de color */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/* Cambio de color al pasar el cursor por encima */
.menu li a:hover {
    color: #8152f8; /* Cambia el color al morado cuando se pasa el cursor por encima */
    font-weight: bold;
    font-size: 15px;
}

.menu li a:active {
    color: #7853ce; /* Cambia el color al morado cuando se pasa el cursor por encima */
}

.logo i:hover{
    color: #8152f8;
}

.logo i:active{
    color: #6a4caf;
}

/* Estilos del icono de menú */
.menu-icon {
    display: none; /* Ocultar el icono de menú por defecto */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.menu-icon:hover{
    color: #8152f8;
}

.menu-icon:active{
    color: #6a4caf;
}



/* MAIN */

/* SLIDER DE IMAGENES */

.slider {
    width: 100%; /* Ancho del viewport 98.96vw */
    height: 300px; /* Altura fija */
    overflow: hidden; /* Oculta las partes de las imágenes que se salen del contenedor */

    position: relative; /* Establece el contexto de apilamiento para los elementos hijos posicionados */    
}


.slider img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto original */
    object-fit: cover; /* Mantiene la relación de aspecto original de la imagen y cubre todo el contenedor */
    position: absolute; /* Permite posicionar las imágenes dentro del contenedor */
    transition: opacity 2s; /* Añade una transición suave de opacidad */
  }


.slider img:not(:first-child) {
  opacity: 0; /* Oculta todas las imágenes excepto la primera */
}


/* CONTACTO FORMULARIO */

#contact {
        
    text-align: center;

    width: 80%;    
    margin: 50px auto; /* Para centrar horizontalmente */
    padding: 50px; /* Padding vertical de 20px y padding horizontal de 0 */
}

#contact h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#contact p{
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 40px;
  }

/* Formulario contenedor */

.form {
    margin: auto;
    max-width: 500px;
    width: 80%;
    padding: 50px;

    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);    
    
    /* display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px; */
}

/* Campos del form */

.form-row  {
    
    display: flex;    
    flex-direction: column;

    margin-bottom: 40px;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.form-row label {
    margin-bottom: 15px;
    text-align: initial;    
}

.form-row input[type="text"],
.form-row input[type="email"] {
    padding: 10px 15px;
    border: none;
    border-radius: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.form-row textarea {
    font-size: 14px;

    border: none;
    border-radius: 20px;

    min-height: 100px;
    padding: 15px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-row button[type="submit"] {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    
    background-color: #6a4caf;
    color: white;

    border: none;
    border-radius: 25px;

    margin: 0  auto;
    padding: 15px 45px;    
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);    
}

.form-row button[type="submit"]:hover {
    background-color: #8152f8; /* Color morado más oscuro al hacer hover */
}

.form-row button[type="submit"]:active {
    background-color: #3c2b66; /* Color morado más oscuro al hacer hover */
}


/* FOOTER */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.footer-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container p{
    font-size: 14px;
    margin: 5px 0;
}

.contact-section {
    margin-bottom: 30px;
}

.social-icons {
    margin-top: 10px;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.icon-link:hover {
    color: #8152f8; /* Cambia el color al morado cuando se pasa el cursor por encima */
}

.icon-link:active {
    color: #6a4caf; /* Cambia el color al morado cuando se pasa el cursor por encima */
}

#back-to-top {  
    margin: auto;
    z-index: 9999;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

#back-to-top:hover {
    color: #8152f8;
}

#back-to-top:active {
    color: #6a4caf;
}

/* Estilos para el icono */
#back-to-top .icon {
    display: none; /* Oculta el icono por defecto */
    
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#back-to-top .icon{
    color: #8d6bdb;
}

#back-to-top .icon:active {
    color: #8152f8;
}


/* Estilos para dispositivos móviles */

@media screen and (max-width: 768px) {

    /* HEADER */
    .header-content {
        justify-content: flex-end; /* Alineación a la derecha */
    }

    .logo {
        margin-right: auto; /* Margen derecho automático para centrar el logo */
    }

    .nav-menu {
        display: none; /* Ocultar la barra de navegación por defecto */
    }

    .menu-icon {
        display: block; /* Mostrar el icono de menú en dispositivos móviles */
    }

    /* BODY */

    .slider{
        height: 150px; /*Altura fija en pantallas pequeñas */
    }

    .slide img {
        max-width: 100%; /* Ancho máximo en pantallas pequeñas */
    }


    /* FORMULARIO */

    .form {
        width: 85%;
        padding: 20px;
    }

    #contact {
        padding: 1px;
      }

    .form-row{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 15px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"] {
      font-size: 13px;
      width: 100%;
      height: initial;
    }
    .form-row label {
      font-size: 13px;
      text-align: left;
      width: 100%;
      margin-top: 7px;
      padding-right: 20px;
    }
    .form-row textarea {
        font-size: 13px;
        width: 100%;
    } 
    .form-row button[type="submit"] {
        margin-left: none;
        margin: 30px 0 80px 0;
    }
    
    /* FOOTER */
    

    #back-to-top .text {
        display: none; 
    }

    #back-to-top .icon {
        display: inline-block; /* Mostrar el icono en dispositivos móviles */
    }

}

@media (max-width: 480px) {

    #back-to-top .icon {
        display: block; /* Mostrar el icono en dispositivos móviles */
    }
}